<header>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/login">Connexion</a></li>
        <li><a href="/signup">Inscription</a></li>
        <li><a href="/create-quiz">Créer un quiz</a></li>
        <li><a href="/quiz-list">Liste des quiz</a></li>
        <li><a href="/profile">Profil</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>
  </header>
  